div{
    display: inline;
    width: 700px;
    height: 300px;
}
.main{
    display: inline-block;
    box-shadow: rgb(245, 6, 6) 0px 13px 27px -5px, rgba(235, 105, 18, 0.3) 0px 8px 16px -8px;
    margin-left: 23%;
    margin-top: 12%;
    
    
}
h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

font-size: 60px;
font-weight: bold;
color:floralwhite;
margin-left: 22%;
}
body{
    background-color:black;
}
#container{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

font-size: 60px;
font-weight: bold;
color:floralwhite;
top: 50%;
display: flex;
justify-content: center;
align-items: center;




}
